name: CI

on: push

env:
  FRIDA_CORE_OPTIONS: '--with-devkits=core --enable-tests'
  CGO_LDFLAGS: -L.
  CGO_CFLAGS: -I.

jobs:
  build:
    runs-on: windows-11-arm
    steps:
      - name: Install MinGW toolchain for cgo support
        id: msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: CLANGARM64
          install: mingw-w64-clang-aarch64-clang
      - name: Install Go toolchain
        uses: actions/setup-go@v5
      - name: Clone frida
        run: |
          git clone https://github.com/frida/frida.git ffrida && cd ffrida/
          python3 tools/ensure-submodules.py frida-core
          cd subprojects/frida-core
          git remote set-url origin https://github.com/NSEcho/frida-core.git && git fetch origin filter_go_prefix_symbols:filter_go_prefix_symbols && git checkout filter_go_prefix_symbols
      - name: Build
        run: |
          ./configure \
              --host=windows-arm64 \
              --enable-compiler-backend \
              ${{ env.FRIDA_CORE_OPTIONS }}
          make
