name: CI

on: push

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install MinGW toolchain for cgo support
        id: msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: mingw-w64-x86_64-gcc
      - name: Install Go toolchain
        uses: actions/setup-go@v5
      - name: Clone frida
        run: |
          git clone https://github.com/frida/frida.git ffrida && cd ffrida/
          python3 tools/ensure-submodules.py frida-core
          cd subprojects/frida-core
          git remote set-url origin https://github.com/NSEcho/frida-core.git && git fetch origin log_symbols:log_symbols && git checkout log_symbols
      - name: Build
        run: |
          cd ffrida/subprojects/frida-core 
          .\configure --enable-compiler-backend --with-devkits core
          .\make
          mkdir D:\a\testci\testci\builderino 
          # copy build\src\devkit\frida-core.lib D:\a\testci\testci\builderino 
        env:
          MSYS2_LOCATION: ${{ steps.msys2.outputs.msys2-location }}
      #- name: Upload
       # uses: actions/upload-artifact@v4
        #with:
         # name: hehe.lib 
          #path: D:\a\testci\testci\builderino\frida-core.lib
      #- name: Test
       # run: |
        #  cd ffrida/subprojects/frida-core
         # .\make test
