name: CI

on: push

env:
  FRIDA_CORE_OPTIONS: '--with-devkits=core --enable-compiler-backend --disable-tests'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install Go toolchain
        uses: actions/setup-go@v5
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install MinGW toolchain
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-go
            mingw-w64-x86_64-python
            mingw-w64-x86_64-nodejs
            mingw-w64-x86_64-ca-certificates
            git
            make
            wget
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.7.0'
          cache: true
          setup-python: false
      - name: Download frida
        env:
          MSYS2_LOCATION: ${{ steps.msys2.outputs.msys2-location }}
        run: |
          git clone https://github.com/frida/frida.git && cd frida/
          python3 tools/ensure-submodules.py frida-core
          cd subprojects/frida-core
          cp build-backend.py src/compiler/
          mkdir src/compiler/symbol-replacer
          cp go.mod main.go src/compiler/symbol-replacer
          .\configure --host=windows-x86_64 --with-devkits=core --enable-compiler-backend --disable-tests && .\make
  manylinux:
    strategy:
      matrix:
        arch: [x86, x86_64, x86_64-musl, armhf, arm64, arm64-musl, mips, mipsel, mips64, mips64el]
      fail-fast: false
    runs-on: ubuntu-latest
    container: ghcr.io/frida/x-tools-linux-${{ matrix.arch }}:latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Go toolchain
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.3'
      - name: Install toolchain
        run: |
          sudo apt-get update
          sudo apt-get install ${{ matrix.pkg }}
      - name: Build
        run: |
          ./configure \
              --host=$XTOOLS_HOST \
              ${{ !startsWith(matrix.arch, 'mips') && '--enable-compiler-backend' || '' }} \
              ${{ env.FRIDA_CORE_OPTIONS }}
          make


          
          
