name: CI

on: push

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Install MinGW toolchain
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-go
            mingw-w64-x86_64-python
            git
            make
      - name: Install Go
        uses: actions/setup-go@v5
      - name: Clone frida
        env:
          CC: gcc
          CXX: g++
        run: |
          git clone https://github.com/frida/frida.git && cd frida
          python tools/ensure-submodules.py frida-core
          ./configure
          --host=windows-x86_64-w64-mingw32 
          --without-prebuilds=sdk:host
          --enable-gadget
          --enable-server
          --enable-portal
          --enable-inject
          --
          "-Dfrida_qml=auto"
          "-Dfrida-gum:devkits=gum,gumjs"
          "-Dfrida-core:compiler_backend=enabled"
          "-Dfrida-core:devkits=core"
          
          
