name: CI

on: push

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Install MinGW toolchain
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-go
            mingw-w64-x86_64-python
            mingw-w64-x86_64-ca-certificates
            git
            make
            wget
      - name: Download devkit
        run: wget https://github.com/NSEcho/build-frida-core-windows-ci/actions/runs/15534758898/artifacts/3287843518 && ls -l
          
          
