name: CI

on: push

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install Go toolchain
        uses: actions/setup-go@v5
      - name: Install MinGW toolchain
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-go
            mingw-w64-x86_64-python
            mingw-w64-x86_64-nodejs
            mingw-w64-x86_64-ca-certificates
            git
            make
            wget
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.7.0'
          cache: true
          setup-python: false
      - name: Download frida
        env:
          MSYS2_LOCATION: ${{ steps.msys2.outputs.msys2-location }}
        run: |
          git clone https://github.com/frida/frida.git && cd frida/
          python3 tools/ensure-submodules.py frida-core
          cd subprojects/frida-core
          git remote set-url origin https://github.com/NSEcho/frida-core.git
          git fetch origin test_branch:test_branch
          git checkout test_branch
          echo "testa"
          .\configure --host=windows-x86_64 --with-devkits=core --enable-compiler-backend --disable-tests && .\make


          
          
