name: CI

on: push

env:
  FRIDA_CORE_OPTIONS: '--with-devkits=core --enable-compiler-backend --disable-tests'
  CGO_LDFLAGS: -L.
  CGO_CFLAGS: -I.

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install Go toolchain
        uses: actions/setup-go@v5
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Copy files
        run: |
          cp go.mod build-backend.py main.go /tmp
      - name: Install MinGW toolchain
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-go
            mingw-w64-x86_64-python
            mingw-w64-x86_64-nodejs
            mingw-w64-x86_64-ca-certificates
            git
            make
            wget
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.7.0'
          cache: true
          setup-python: false
      - name: Download frida
        env:
          MSYS2_LOCATION: ${{ steps.msys2.outputs.msys2-location }}
        run: |
          git clone https://github.com/frida/frida.git && cd frida/
          python3 tools/ensure-submodules.py frida-core
          cd subprojects/frida-core
          cp /tmp/build-backend.py src/compiler/
          mkdir src/compiler/symbol-replacer
          cp /tmp/go.mod /tmp/main.go src/compiler/symbol-replacer
          .\configure --host=windows-x86_64 --with-devkits=core --enable-compiler-backend --disable-tests && .\make
  manylinux:
    strategy:
      matrix:
        arch: [x86, x86_64, x86_64-musl]
      fail-fast: false
    runs-on: ubuntu-latest
    container: ghcr.io/frida/x-tools-linux-${{ matrix.arch }}:latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Copy files
        run: |
          cp go.mod build-backend.py main.go /tmp
      - name: Install Go toolchain
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.3'
      - name: Build
        run: |
          git clone https://github.com/frida/frida.git && cd frida
          pwd && ls -l
          python3 tools/ensure-submodules.py frida-core
          cd subprojects/frida-core
          mkdir src/compiler/symbol-replacer
          cp /tmp/build-backend.py src/compiler/
          cp /tmp/main.go /tmp/go.mod src/compiler/symbol-replacer/
          ./configure \
              --host=$XTOOLS_HOST \
              ${{ !startsWith(matrix.arch, 'mips') && '--enable-compiler-backend' || '' }} \
              ${{ env.FRIDA_CORE_OPTIONS }}
          make
          cp ./build/src/devkit/libfrida-core.a /tmp/
          cp ./build/src/devkit/frida-core.h /tmp/
          git clone https://github.com/NSEcho/frida-go-examples.git
          git clone https://github.com/frida/frida-go.git && cd frida-go/
          cp ../frida-go-examples/list_devices/list_devices.go main.go
          cp /tmp/libfrida-core.a /tmp/frida-core.h .
          cp frida-core.h frida/
          CC="/opt/x-tools/i686-linux-gnu/bin/i686-linux-gnu-gcc -march=pentium4" go build -o ll main.go && ./ll


          
          
