name: CI

on: push

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Install MinGW toolchain
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: mingw-w64-x86_64-gcc
      - name: Install Go
        uses: actions/setup-go@v5
      - name: Clone frida
        run: go version
        run: git clone https://github.com/frida/frida.git
